.badges{
    display: flex;
    justify-content: flex-start;
}
.badges span{
    margin: 5px 10px;
    padding: 8px;
    
    cursor: pointer;

}
.badges span:hover{
    background-color: #fff !important;
    color: rgb(0, 0, 0);
    
    border: 1px solid black;
}
.wrapper {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 5% 5%;
}
